In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/Minjust2018.csv', header=None, usecols = [4,13,14,16,19,27,28,33])
df.rename(index=str, columns={4: "Name", 13: "Region",14: "City", 27: "Director", 28: "Activity", 33: "Founders", 16: "Street", 19: "Phone"}, inplace=True)

In [4]:
df.fillna('', inplace=True)

In [ ]:
df.loc[df['City'].str.contains("Бишкек")&df['Street'].str.contains("Токтогула"),['Name','Street','Director']] #Task 1

In [ ]:
df.loc[df['Founders'].str.contains("Актан"),['Name','Street','Director']] #Task 2

In [8]:
#Task 3
df.loc[df['Founders'].str.contains("Актан")&df['City'].str.contains("Бишкек")&df['Street'].str.contains("Токтогула"),['Name','Street','Director']]

Empty DataFrame
Columns: [Name, Street, Director]
Index: []

In [9]:
#Task 5
df.loc[df['Activity'].str.contains("строит")&df['Phone'].str.contains("432")|
df['Activity'].str.contains("строит")&df['Phone'].str.contains("4 32")|
df['Activity'].str.contains("строит")&df['Phone'].str.contains("43-2")|
df['Activity'].str.contains("строит")&df['Phone'].str.contains("4-32")|
df['Activity'].str.contains("строит")&df['Phone'].str.contains("43 2"),['Name','Street','Director']]

,Name,Street,Director
4452,Общество с ограниченной ответственностью «МосС...,ул. Заводская,Шек Андрей Анатольевич
68017,Филиал Общества с ограниченной ответственность...,ул. Логвиненко,Синицын Виктор Александрович
77115,"Общество с ограниченной ответственностью ""Адил...",,Эргешов Нурлан Камчиевич
85882,"Общество с ограниченной ответственностью ""Ала-...",,Туйчиев Султанбек Сатангович
88964,"Общество с ограниченной ответственностью ""Хонг...",пр. Масалиева,Ванг Юкин
91465,"Общество с ограниченной ответственностью ""Чина...",,Закиров Абдил-Насир Сооронбаевич
93797,"Общество с ограниченной ответственностью ""Аясман""",,Григорьев Борис Георгевич
104906,"Общество с ограниченной ответственностью ""МАКЕ...",ул.Ананьева,Осмонов Кайрат Аманжолович